* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, serif;
    height: 3000px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 68px;
    background-color: #fff;
    z-index: 1;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 160px;
}

.header_list-right {
    
}

.header_list-right ul {
    display: flex;
    list-style: none;
}

.header_list-right ul li a {
    font-size: 14px;
    padding: 15px;
    font-weight: 500;
    line-height: 68px;
    text-decoration: none;
    color: #90949b;
}

.header_logo img {
    display: inline-block;
    line-height: 68px;
}

.header_list-left {
    display: flex;
    align-items: center;
}

.header_list-left-text {
    padding: 9px 10px 9px 9px;
    border-radius: 4px;
    background: none;
    border: none;
    outline: 1px solid #d7d9dd;
    color: #e8e2e2;
    font-size: 14px;
}

.header_list-left-text i {
    font-size: 10px;
    color: #a1a0a0;
    margin-right: 4px;
}

.header_list-left-text input {
    border: none;
    outline: none;
}

.header_list-left-text input::placeholder {
    font-size: 14px;
    color: #dddedf;
}

/* BackGround body */
.body_bacground {
   width: 100%;
   margin-top: 68px;
}

.body_background-img {
    width: 100%;
    background-repeat: no-repeat;
    height: 400px;
    display: inline-block;
    background-size: cover;
}

.body_bacground-content {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 168px;
}

.body_bacground-content h1 {
    font-size: 54px;
    margin-bottom: 10px;
    color: #323842;
}

.body_bacground-content p {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.7px;
    line-height: 1.6;
    color: #646468;
}

/* Product */
.product {
    margin-top: 60px;
}

.product_container {
    margin: 0px 170px;
}

/*  Product Head */
.product_head {
    display: flex;
    justify-content: space-between;
    
}

.product_head-find {
    display: flex;
    text-align: center;
    justify-content: center;
}

.product_head-find ul {
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

.product_head-find ul li a{
    text-decoration: none;
    padding: 16px 48px;
    border-radius: 4px;
    color: #459d7a;
    display: inline-block;
    margin-right: 40px;
}

.product_head-find-list li:first-child a {
    background-color: #459d7a;
    color: #fff;
}

.product_head-find ul li:nth-child(2) a {
    position: relative;
}

.product_head-find ul li:nth-child(2) a::after {
    display: inline-block;
    content: "";
    width: 1px;
    height: 24px;
    background-color: #459d7a;
    position: absolute;
    right: -9px;
    top: 14px;
}

.product_head-search-item-1 {
    padding: 11px 14px 11px 12px;
    background: none;
    border: none;
    border-bottom: 2px solid #d7d9dd;
    color: #e8e2e2;
    font-size: 14px;
    display: inline-block;
}

.product_head-search-item-1 input {
    border: none;
    outline: none;
    padding-top: 4px;
}

.product_head-search-item-1 i {
    color: #a1a0a0;
    margin-left: 10px;
    margin-right: 4px;
    font-size: 16px;
}

.product_head-search-item-1 input::placeholder {
    font-size: 18px;
    color: #e8eaec;
}

.product_head-search-item-2 {
    margin-left: 14px;
    padding: 14px 18px;
    font-size: 17px;
    background-color: #f3f4f6;
    color: #777e89;
    border-radius: 2px;
}

.product_head-search-item-2 i {
    margin-left: 7px;
}

/*  Product Body */
.product_body-list {
    margin-top: 60px;
}

.product_body-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.product_body-list-item h4 {
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 0.4px;
}

.product_body-list-item p {
    margin-top: 8px;
    font-size: 14px;
    color: #7a7b7e;
}

.product_body-list-item-price {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.product_body-list-item-newprice {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #323842;
}

.product_body-list-item-oldprice {
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #b4b7be;
    margin-left: 4px;
    position: relative;
    top: -4px;
}

.product_body-list-item {
    position: relative;
}

.product_body-list-item::before {
    display: inline-block;
    content: "Best-seller";
    font-size: 13px;
    padding: 6px 10px;
    border-radius: 999px;
    color: #8d5e12;
    background-color: #ffc970;
    position: absolute;
    top: 13px;
    right: 13px;
}







